body{
	font-family: sans-serif;
	background-image: url('images/BG.jpg');
	color: black;
}

.jumbotron {
            margin-bottom: 0px;
            background-image: url('images/banner-hotel2.jpg');
            background-position: 0% 25%;
            background-size: 100% 250%;
						background-position: 0% 70%;
            background-repeat: no-repeat;
						opacity : 0.9;
            color: white;
            text-shadow: black 0.3em 0.3em 0.3em;
        }

#menu{
	/*position:relative;*/
	text-align: center;
	height: 17%;
	width: 100%;
	top: 2.5%;
	background-color:rgba(200,200,200,0.2);
}

#menutext{
	color:white;
	background-color:rgba(0,0,0,0.7);
}


#map{
	/*position:relative;*/
	float:left;
	height: 65%;
	width: 47%;
	left: 1.5%;

}

#hotel-list, #hotel-list2{
	/*position:relative;*/
	float:right;
	width: 30%;
	height: 48%;
	top: 2%;
	right: 2%;
  overflow-y: scroll;
	background-color:rgba(200,200,200,0.7);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#hotel-list2{
	top: 4%;
}

#current-collection1, #current-collection2{
	/*position:relative;*/
	float:right;
	width: 30%;
	height: 48%;
	top: 4%;
	right: 5%;
	overflow-y: scroll;
	background-color:rgba(200,200,200,0.7);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#collection-list{
	/*position:relative;*/
	float:left;
	width: 30%;
	height: 48%;
	top: 4%;
	right: -2%;
	overflow-y: scroll;
	background-color:rgba(200,200,200,0.7);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#current-collection1, #hotel-list{
	float:right;
	right: 0%;
	width: 100%;
	-webkit-border-radius: 20px 0px 0px 20px;
	-moz-border-radius: 20px 0px 0px 20px;
	border-radius: 20px 0px 0px 20px;
}

#hotel-info, #alojados, #lista{
	/*position:relative;*/
	background-color:rgba(200,200,200,0.7);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#usuariosGOOGLE{
	background-color:rgba(170,170,170,0.7);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#formulario_usuariosGOOGLE{
	color: black;
	width: 107.5%;
	right: 4%;
	background-color:rgba(80,80,80,0.7);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.button-menu{
	/*position:relative;*/
	float:left;
	color: black;
}

#button-guardar, #button-cargar{
	/*position:relative;*/
	color: black;
	float:right;

}

#hotel-list li{
	cursor: pointer;
}

#hotel-list2 li{
	cursor: grab;
}

#listas{
	float:right;
	height: 65%;
	width: 47%;
	right: 1.5%;
	-webkit-border-radius: 20px 0px 0px 0px;
	-moz-border-radius: 20px 0px 0px 0px;
	border-radius: 20px 0px 0px 0px;

	background-color:rgba(200,200,200,0.7);
}

#formulario-git{
	top: 1%;
	left: 16%;
	width: 30%;
	color: black;
}

#get{
	position: fixed;
	top: 60%;
	right: 25%;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: rgba(50, 138, 138, 1);
}

#scrollToTop {
    position: fixed;
    z-index: 0;
    bottom: 10px;
    left: 2px;
    width: 30px;
    height: 51px;
    background: url('images/flecha.jpg');
}

.ui-state-highlight{
	background-color: rgba(200,200,200,0.2);
}
